.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
To be added.rtf
Results/Sierra_Leone/Betabinomial Estimates.zip
Results/Haiti/Betabinomial/NMR/ar1/*_bench.rda
Results/Haiti/Betabinomial/NMR/ar1/Haiti_res_adm2_strat_nmr_bench.rda
Results/Haiti/Haiti.zip
Results/Haiti/Betabinomial/U5MR/ar1/*.rda
Results/Uganda/Betabinomial/U5MR/*.rda
Results/Uganda/Betabinomial/NMR/*.rda
Results/Rwanda/Betabinomial/U5MR/*.rda
Results/Rwanda/Betabinomial/NMR/*.rda
Results/Rwanda/Betabinomial.zip
